/* #container{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 800px;
    border: solid 1px black;
    margin: 0 auto;
} */
/* .box{
    margin-top: 10px;
    width: 30%;
    height: 100px;
    background-color: yellow;
    border: solid 1px green;
    margin:calc((10% - 6px) / 6);
} */
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 600px;
    height: 800px;
    border: solid 1px black;
    margin: 0 auto;
}
.box{
    margin-top: 10px;
    width: 150px;
    height: 100px;
    background-color: yellow;
    border: solid 1px green;
}
/* /* .box:nth-child(2){
    margin-right:calc(150px + (100vh - 450px) / 2);
} */
.box:last-child{
    margin-right:calc(150px + (100% - 450px) / 2);
}