*{
    padding: 0;
    margin: 0;
}

#container{
    position: relative;
    width: 100%;
    height: 100vh;
    border: solid 0px black;
}

#div1{
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
}
#div2{
    background-color: orange;
    width: 100px;
    height: 100px;
    position: absolute;
    left:50%;
    transform: translate(-50%, 0)
}
#div3{
    background-color: yellow;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
}
#div4{
    background-color: green;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
#div5{
    background-color: blue;
    width: 50px;
    height: 300px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%)
}
#div6{
    background-color: purple;
    width: 50%;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
}
#div7{
    background-color: black;
    width: 50%;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
}