*{
    padding: 0;
    margin: 0;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    border: solid 0px black;
}

#top{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
#bigMain{
    display: flex;
    flex-direction:row;
    width: 100%;
}
#main{
    display: flex;
    width: 100%;
    margin-left:50px;
    justify-content: center;
    
}
#main2{
    display: flex;
    justify-content: flex-end;
}
#bottom{
    display: flex;
    flex-direction:row;
}

#div1{
    background-color: red;
    width: 100px;
    height: 100px;
   
  
}
#div2{
    background-color: orange;
    width: 100px;
    height: 100px;
    
}
#div3{
    background-color: yellow;
    width: 100px;
    height: 100px;
    
}
#div4{
    background-color: green;
    width: 300px;
    height: 300px;
   
}
#div5{
    background-color: blue;
    width: 50px;
    height: 300px;
    
}
#div6{
    background-color: purple;
    width: 50%;
    height: 200px;
    
}
#div7{
    background-color: black;
    width: 50%;
    height: 200px;
    
}